@charset "UTF-8";
/* CSS Document */

/* section */
.section {
  padding-top: 140px;
  padding-bottom: 140px;
}

.section__inner {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.section__title {
  color: #C72053;
  font-size: 4.0rem;
  text-align: left;
  line-height: 1.6;
  text-transform: uppercase;
}

.section__heading {
  color: #C72053;
  text-align: left;
  font-size: 2.3rem;
  text-transform: uppercase;
}

.section__subheading {
  color: #C72053;
  text-align: left;
  font-size: 2.3rem;
}

.section__link {
  position: relative;
  color: #333;
  text-decoration: none;
  font-size: 2.0rem;
}

.section__link::after {
  content: "";
  position: absolute;
  right: -84px;
  bottom: 5px;
  width: 80px;
  height: 8px;
  background-image: url("../image/arrow.svg");
  background-repeat: no-repeat;
  transition: transform .4s ease-out;
}

.section__link:hover::after {
  transform: translateX(10px);
}

/* concept */
.section-concept {
  position: relative;
}

.section-concept__text {
    position: relative;
    z-index: 1;
    padding: 40px 65px;
    text-align: left;
    font-size: 1.8rem;
    line-height: 2.4;
}

.section-concept__text::before,.section-concept__text::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-concept__text::before {
  top: -40px;
  right: -40px;
  width: 86.5px;
  height: 97px;
  background-image: url("../image/rose1\(shadow\).png");
}

.section-concept__text::after {
  bottom: -80px;
  left: -80px;
  width: 100px;
  height: 120px;
  background-image: url("../image/rose2\(shadow\).png");
}

.section-concept__rose01 {
  position: absolute;
  top: 40px;
  right: -40px;
}
.section-concept__rose02 {
  position: absolute;
  bottom: -69px;
  left: -55px;
}

/* about */
.section-about__introduction {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-align: left;
}

.section-about__image {
  width: 34.0384615%;
}

.section-about__description {
  width: calc(100% - 34.0384615%);
  margin-left: 38px;
}

.section-about__name {
  font-size: 2.0rem;
  margin-bottom: 32px;
}

.section-about__text {
  margin-bottom: 60px;
  line-height: 4.0rem;
}

.section-about__link-wrapper {
  margin-right: 50px;
  text-align: right;
}

.section-about__mystrength {
  margin-top: 80px;
}

.section-about__list {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
}

.section-about__item {
  flex-basis: 31.4285714%;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  list-style: none;
}

.section-about__item::before {
  content: "";
  display: block;
  position: absolute;
  top: -47px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 91px;
  background-image: url("../image/top/img_rose.png");
  background-repeat: no-repeat;
}

.section-about__item:not(:first-child) {
  margin-left: 2.85714286%;
}

.section-about__inner {
  padding: 74px 48px 50px;
}

.section-about__title {
  font-size: 1.6rem;
  letter-spacing: 3px;
  margin: 10px 0 20px;
}

.section-about__copy {
  font-size: 1.4rem;
  text-align: left;
  line-height: 2;
}

/* works */
.section-works {
  position: relative;
  background-color: #fff3f1;
}

.section-works__banner {
  margin-top: 40px;
}

.sectino-works__website {
  margin-top: 80px;
}

.section-works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 40px;
}

.section-works__item {
  width: calc(100% / 3 - 10px);
  list-style: none;
}

.section-works__item:not(:first-child) {
  margin-left: 15px;
}

.section-works__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fff;
}

.section-works__img {
  width: 100%;
}

.section-works__link-wrapper {
  margin-right: 50px;
  text-align: right;
  margin-top: 40px;
}

.section-works__bg {
  display: block;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%) rotate(-90deg);
  font-size: 7.0rem;
}

/* skill */
.section-skill {
  position: relative;
}

.section-skill:before {
  content: "";
  display: block;
  position: absolute;
  width: 134px;
  height: 160px;
  top: -80px;
  left: 30px;
  background-image: url("../image/rose-grounp(shadow).png");
  background-repeat: no-repeat;
}

.section-skill::after {
  content: "";
  display: block;
  position: absolute;
  width: 308px;
  height: 316.5px;
  right: -40px;
  bottom: -40px;
  background-image: url(../image/bouquet.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.section-skill__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-skill__category {
  width: calc(100% / 2 - 40px);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
}

.section-skill__name {
  font-size: 2.0rem;
  text-align: left;
}

.section-skill__skill-list {
  margin-top: 20px;
  padding-left: 0;
}

.section-skill__item {
  list-style: none;
  display:flex;
  margin-bottom: 15px;
}

.section-skill__check {
  width: 20px;
  margin-right: 10px;
}

.section-skill__name {
  font-size: 2.0rem;
}

.section-skill__description {
  text-align: left;
  font-size: 1.4rem;
  line-height:4.0rem;
}

/* contact */
.section-contact  {
  position: relative;
  background-color: #FFF3F1;
}

.section-contact__container {
  position: relative;
  margin-top: 40px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-contact__container::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 120px;
  z-index: 0;
  width: 72%;
  height: 50%;
  border: solid #C72053 2px;
}

.section-contact__description {
  position: relative;
  z-index: 1;
  width: 80%;
  margin-right: -40px;
  margin-left: auto;
  padding: 70px 80px;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
}

.section-contact__text {
  font-size: 2.0rem;
  margin-bottom: 10px;
}

.section-contact__mail {
  margin-top: 20px;
  margin-bottom: 30px;
}

.section-contact__message {
  margin-top: 160px;
  font-size: 8rem;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: #C72053;
  text-transform: uppercase;
}

.section-contact__message span {
  font-size: 6.4rem;
}

.section-contact__bg {
  font-size: 7.0rem;
  position: absolute;
  top: 370px;
  opacity: 0.5;
  transform: rotate(-90deg);
  z-index: 10;
  display: block;
}

@media (max-width: 900px)  {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section__title {
    text-align: center;
  }

  .section__heading {
    text-align: center;
  }

  /* concept */
  .section-concept__text {
    margin-top: 40px;
    padding: 0;
    font-size: 1.6rem;
  }

  .section-concept__text::after {
    top: 293px;
    left: -70px;
  }

  /* about */
  .section-about__inner {
    padding: 74px 0 0;
  }
  .section-about__image {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
  }

  .section-about__description {
    width: calc(100% - 0%);
    margin-left: 0px;
  }

  .section-about__name {
    text-align: center;
  }

  .section-about__introduction {
    flex-wrap: wrap;
  }

  .section-about__list {
    flex-direction: column;
  }

  .section-about__item + .section-about__item {
    margin-top: 80px;
    margin-left: 0;
  }

  .section-works__list {
    padding-left: 0;
  }

  .section-works__item {
    width: 100%;
    margin-bottom: 48px;
  }

  .section-works__item:not(:first-child) {
    margin-left: 0;
  }

  .section-works__container {
    height: auto;
  }

  .section-works__img img {
    width: 100%;
  }

  .section-works__bg {
    display: none;
  }

  .section-skill::before {
    right: 30px;
    left: inherit;
    transform: scaleY(-1);
  }

  .section-skill::after {
    content: none;
  }

  .section-skill__list {
    flex-direction: column;
  }

  .section-skill__category {
    width: 100%;
    padding: 0;
  }

  .section-skill__category {
    margin-top: 40px;
    margin-left: 0;
  }
  .section-skill__description {
    font-size: 1.6rem;
  }

  .section-contact__container {
    margin-top: 80px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-contact__container::before {
    top: -40px;
    transform: inherit;
  }

  .section-contact__description {
    width: 80vw;
    padding: 16vw;
    word-break: break-all;
  }

  .section-contact__text {
    font-size: 1.6rem;
  }

  .section-contact__message {
    font-size: 3.2rem;
  }

  .section-contact__bg {
    display: none;
  }
}